<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.uddp.mapper.RollcallClassMapper">
  <resultMap id="BaseResultMap" type="edu.uddp.model.RollcallClass">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="class_id" jdbcType="CHAR" property="classId" />
    <result column="key" jdbcType="CHAR" property="key" />
    <result column="status" jdbcType="CHAR" property="status" />
    <!--<association property="stuClass" javaType="edu.uddp.model.StuClass">-->
      <!--<result column="institute" jdbcType="VARCHAR" property="institute" />-->
      <!--<result column="major" jdbcType="VARCHAR" property="major" />-->
    <!--</association>-->
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    class_id, `key`, status
  </sql>
  <select id="selectByExample" parameterType="edu.uddp.model.RollcallClassExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from rollcall_class
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByClassId" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from rollcall_class
    where class_id = #{classId,jdbcType=CHAR}
  </select>
  <select id="selectByStatus" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    class_id, institute, major
    from rollcall_class
    where status = #{status,jdbcType=CHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from rollcall_class
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="edu.uddp.model.RollcallClassExample">
    delete from rollcall_class
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="edu.uddp.model.RollcallClass">
    insert into rollcall_class (class_id, `key`, status) VALUES (#{classId,jdbcType=CHAR}, #{key,jdbcType=CHAR}, #{status,jdbcType=CHAR})
    on duplicate key update
    `key` = VALUES (`key`),
    status = VALUES (status)
  </insert>
  <insert id="insertSelective" parameterType="edu.uddp.model.RollcallClass">
    insert into rollcall_class
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="classId != null">
        class_id,
      </if>
      <if test="key != null">
        key,
      </if>
      <if test="status != null">
        status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="classId != null">
        #{classId,jdbcType=CHAR},
      </if>
      <if test="key != null">
        #{key,jdbcType=CHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="edu.uddp.model.RollcallClassExample" resultType="java.lang.Long">
    select count(*) from rollcall_class
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update rollcall_class
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.classId != null">
        class_id = #{record.classId,jdbcType=CHAR},
      </if>
      <if test="record.key != null">
        key = #{record.key,jdbcType=CHAR},
      </if>
      <if test="record.status != null">
        status = #{record.status,jdbcType=CHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update rollcall_class
    set id = #{record.id,jdbcType=INTEGER},
      class_id = #{record.classId,jdbcType=CHAR},
      key = #{record.key,jdbcType=CHAR},
      status = #{record.status,jdbcType=CHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="edu.uddp.model.RollcallClass">
    update rollcall_class
    <set>
      <if test="classId != null">
        class_id = #{classId,jdbcType=CHAR},
      </if>
      <if test="key != null">
        key = #{key,jdbcType=CHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=CHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="edu.uddp.model.RollcallClass">
    update rollcall_class
    set class_id = #{classId,jdbcType=CHAR},
      key = #{key,jdbcType=CHAR},
      status = #{status,jdbcType=CHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByClassIdSelective" parameterType="edu.uddp.model.RollcallClass">
    update rollcall_class
    <set>
      <if test="classId != null">
        class_id = #{classId,jdbcType=CHAR},
      </if>
      <if test="key != null">
        key = #{key,jdbcType=CHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=CHAR},
      </if>
    </set>
    where class_id = #{classId,jdbcType=CHAR}
  </update>
</mapper>